@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Commissioner', sans-serif;
}

.disabledContent {
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
}

.disabledContent > * {
  pointer-events: none;
}
.btn-disable {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}
#hero {
  background-image: url('./images/image-hero-mobile.jpg');
  background-size: '100% 100%';
  z-index: '-999';
}
@media screen and (min-width: 786px) {
  #hero {
    background-image: url('./images/image-hero-desktop.jpg');
  }
}
